<html>
   <head>
      <title>success</title>
      <link rel="stylesheet" href="../static/main.css">
   </head>

   <body>

    <center >
      <img src="../static/logo.png" alt="logo" >
      </center>
      <br>
      <div id="abc">
      <center>
      <p style="color:green; font-weight: bold; ">Excel generated successfully!</p>
      <p>File Name:{{fileN}}</p>
      <p>Salary: {{sal}}</p>

      <a href="/download/{{dname}}"><button onclick="hideB()" class='btn btn-default'>Download</button></a>

      <div id="hiddenE" style="display:none;">
         <a href="/delete/{{dname}}">Click here to Generate CAR PDF</a>
      </div>
</html>
   </center>
</div>
   </body>
   <script>
    function hideB() {
  var x = document.getElementById("hiddenE");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
</html>